body {
    /*background-color:#C0DAE0;*/
    background-color:#FFFFE8;
    color:#333;
    margin:0;
    padding:0;
}
#page {
  text-align:center;
}
.heading{
    background: #424242;
    background: -moz-linear-gradient(top, #424242 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top, #424242 0%,#0e0e0e 100%);
    background: -o-linear-gradient(top, #424242 0%,#0e0e0e 100%);
    background: -ms-linear-gradient(top, #424242 0%,#0e0e0e 100%);
    background: linear-gradient(top, #424242 0%,#0e0e0e 100%);
    position:fixed;
    top:0;
    width:100%;
    box-shadow:0 1px 5px #333;
    -moz-box-shadow:0 1px 5px #333;
    -webkit-box-shadow:0 1px 5px #333;
}
h1{
    margin: 0;
    padding:5px;
    font-size:2em;
    text-align: left;
    color:#FFFFE8;
    font-family:'Short Stack', sans-serif;
}
h1:hover{
    color:#FFF;
}
img {
    vertical-align:middle;
}
#inner-heading {
    margin:0 auto 0 auto;
    width:60%;
}
#channel-indicator {
    float:right;
    color:#FFF;
    padding:5px 15px;
    font-size:0.8em;
    font-weight:bold;
    border-left:1px #999 dashed;
    margin:10px;
    height:100%;
    width:80px;
    text-align:left;
}
#channel-indicator:hover {
    background-color:#FFFFE8;
    color:#000;
    border:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    box-shadow: inset 0 0 5px #000;
    -moz-box-shadow: inset 0 0 5px #000;
    -webkit-box-shadow: inset 0 0 5px #000;
}
#channel-selector {
    display:none;
}
#channel-label{
    cursor:pointer;
    display:block;
}
#rage-img {
    border:1px #CCC solid;
    padding:1px;
    background-color:#FFF;
    box-shadow: 2px 2px 10px #CCC;
    -moz-box-shadow: 2px 2px 10px #CCC;
    -webkit-box-shadow: 2px 2px 10px #CCC;
}
p {
    margin:5px;
    font-size:0.8em;
}
#rage-header {
    padding:15px;
    width:50%;
    margin:auto;
    margin-top:60px;
}
#viewport{
    margin:auto;
    margin-bottom:25px;
}
h2.default_title {
    font-size:1.8em;
    text-transform: capitalize;
    text-shadow:0 1px 0 #CCC;
    font-family:'Short Stack', sans-serif;
}
#rage-votes{
  float:right;
  text-align: right;
}
#rage-voteup {
    font-weight:bold;
    color: #54141B;
}

#rage-votedown {
    font-weight:bold;
    color: #145416;
}
#rage-info {
  text-align:left;
}
#rage-info:after {
    content: ".";
    clear:both;
    visibility:hidden;
    display:block;
}
#rage-author {
  font-size:1.5em;
  font-weight:bold;
  font-family:'Short Stack', sans-serif;
}
#rage-date, #rage-link, #rage-link2{
  font-size:0.8em;
}
#footer {
    padding:5px;
    font-size:0.8em;
    margin-top:20px;
    background-color:#333;
    color:#CCC;
}
button {
    padding:5px 20px;
    font-size:1.2em;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:#FFF;
    cursor:pointer;
    border:0;
background: #424242;
background: -moz-linear-gradient(top, #424242 0%, #0e0e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#0e0e0e));
background: -webkit-linear-gradient(top, #424242 0%,#0e0e0e 100%);
background: -o-linear-gradient(top, #424242 0%,#0e0e0e 100%);
background: -ms-linear-gradient(top, #424242 0%,#0e0e0e 100%);
background: linear-gradient(top, #424242 0%,#0e0e0e 100%);
    box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
    -webkit-box-shadow: 0 0 2px #666;
}
button:hover {
    background:#CCC;
    color:#424242;
    box-shadow: 0 0 5px #666;
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
}
a:link, a:visited{
    padding:2px 5px;
    background:#333;
    color:#FFF;
    text-decoration:none;
    font-family:sans-serif;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
a:hover{
    background-color:#666;
}
.smallx {
    font-size:0.6em;
    font-weight:normal;
}
.error {
    color:red;
}

#loginbox {

    position:fixed;
    top:170px;
    left:0;


    -moz-border-radius:0 8px 8px 0;
    -webkit-border-radius:0 8px 8px 0;
    border-radius:0 8px 8px 0;
    background:#333;
    padding:5px 5px 5px 0;

    height:240px;
}

#loginbox-label {
    display:inline-block;
    font-size: 0.8em;
    font-weight:bold;
    color:#FFF;


    margin-left:2px;
    margin-right:-60px;
    font-family: 'Short Stack', sans-serif;
    vertical-align:top;
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    text-align:center;
    cursor: pointer;
}
#loginbox-label:hover {
    color:#D09812;
}
#loginbox-content {
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    display:inline-block;
    font-family:sans-serif;
    width:100px;
    padding:5px;
    background:#FFF;
    color:#000;
    vertical-align:top;
    margin-top:15px;
    font-size:0.7em;
    text-align:left;
    line-height:200%;
}
input[type=text], input[type=password] {

    border:1px #CCC solid;
    width:80px;
}
#loginbox-infobox {
    display:none;
}
#loginbox-content button {
    padding:2px;
    background:#EEE;
    color:#333;
    border:1px #CCC solid;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    font-weight:normal;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
#reddit-name{
    font-weight:bold;
}
.loginbox-off{
    -webkit-transition-property: margin-left;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-property: margin-left;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function:ease-in;
    -o-transition-property: margin-left;
    -o-transition-duration:0.5s;
    -o-transition-timing-function:ease-in;  
    margin-left:-110px !important;
}
.loginbox-on{
    -webkit-transition-property: margin-left;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-property: margin-left;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function:ease-in;
    -o-transition-property: margin-left;
    -o-transition-duration:0.5s;
    -o-transition-timing-function:ease-in;
    margin-left:0 !important;
}
#login-error {
    visibility: hidden;
}

#vote-response {
    display:none;
}
div.fixed-nav-bar {
    position: fixed;
    bottom: 50px;
    z-index:1001;
    text-align:center;
    margin:auto;
    width:100%;
    
}
div.fixed-nav-bar:hover {
    background: rgba(0,0,0, 0.2);
}
